#home .solutions {

    font-family: 'Arimo', sans-serif;
    text-align: center;
    padding-top: 10px;
}


#home .solutions h1{

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7em;
}


#home .solutions .title {

    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

#home .solutions .solution{
    cursor: pointer;
    transition: 0.3s ease;
    transition-property: background-color, border-color;
    padding: 20px;
    border: 1px dotted transparent;

    min-height: 250px;
}

#home .solutions .solution:hover{

    background-color: #9DFFD0;
    border-color: green;
}

#home .solutions .bar {

    width: 15%;
    display: block;
    border-bottom: 1px solid #8D90CD;
    margin: 1em auto;
}

#home .solution .icon{

    height: 50px;
    margin-bottom: 30px;
    opacity: 0.5;
}

#home .solution .icon svg{

    height: 100%;
}

#home .solution-desc{

    font-size: 1.1em;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}
