<div id="home">
    <div class='splash'>
        <div class='container clearfix'>
            <div class='positioner'>
                <div class='splash-text'>
                    <div data-fittext='0.8'>
                        <span class='title'>Consultancy Services and Solutions</span>
                        <span class='bar'></span>
                        <span class='tagline'>Insert a tagline here, background is placeholder</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='solutions'>
        <div class='container'>
            <h1>Our Solutions</h1>
            <span class='bar'></span>

            <div class='col-xs-6 col-md-3 solution' ng-click='redirect("solutions#web")'>
                <div class='icon' ng-include="'/images/thumb.svg'"></div>
                <span class='title'>Web Application Development</span>
                <div class='solution-desc'>Description here la dee da etc etc zippity zoo bippity boo</div>
            </div>
            <div class='col-xs-6 col-md-3 solution' ng-click='redirect("solutions#bio")'>
                <div class='icon' ng-include="'/images/thumb.svg'"></div>
                <span class='title'>Biometric Attendance Systems</span>
                <div class='solution-desc'>Description here la dee da etc etc zippity zoo bippity boo</div>
            </div>
            <div class='col-xs-6 col-md-3 solution' ng-click='redirect("solutions#third")'>
                <div class='icon' ng-include="'/images/thumb.svg'"></div>
                <span class='title'>Third Party Integration</span>
                <div class='solution-desc'>Description here la dee da etc etc zippity zoo bippity boo</div>
            </div>
            <div class='col-xs-6 col-md-3 solution' ng-click='redirect("solutions#stats")'>
                <div class='icon' ng-include="'/images/thumb.svg'"></div>
                <span class='title'>Statistics Studies & Surveys</span>
                <div class='solution-desc'>Description here la dee da etc etc zippity zoo bippity boo</div>
            </div>

        </div>
    </div>

</div>
