<div id='solutions'>

    <div class='splash'>
        <span class='title'>SOLUTIONS</span>
    </div>

    <div class='container services'>

        <div class='col-xs-6 col-md-3 service' ng-click='redirect("solutions#web")'>
            <div class='icon' ng-include="'/images/thumb.svg'"></div>
            <span class='title'>Web Application Development</span>
        </div>
        <div class='col-xs-6 col-md-3 service' ng-click='redirect("solutions#bio")'>
            <div class='icon' ng-include="'/images/thumb.svg'"></div>
            <span class='title'>Biometric Attendance Systems</span>
        </div>
        <div class='col-xs-6 col-md-3 service' ng-click='redirect("solutions#third")'>
            <div class='icon' ng-include="'/images/thumb.svg'"></div>
            <span class='title'>Third Party Integration</span>
        </div>
        <div class='col-xs-6 col-md-3 service' ng-click='redirect("solutions#stats")'>
            <div class='icon' ng-include="'/images/thumb.svg'"></div>
            <span class='title'>Statistics Studies & Surveys</span>
        </div>

    </div>

    <div id='web' class='section'>
        <div class='container'>
            Web
        </div>
    </div>
    <div id='bio' class='section'>
        <div class='container'>
            Bio
        </div>
    </div>
    <div id='third' class='section'>
        <div class='container'>
            Third
        </div>
    </div>
    <div id='stats' class='section'>
        <div class='container'>
            Stats
        </div>
    </div>
</div>
